
  @media only screen and (max-width: 480px) {
    .p-guests-transport-left-headers {
        height: 3vh;
        width: 35vw;
        border-radius: 50vw;
        background-color: rgb(214,160,180);
        color: white;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 3vh;
        margin-right: 55vw;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    
    .p-guests-transport-left-info {
        height: 3vh;
        width: 75vw;
        border-radius: 50vw;
        background-color: rgb(214,160,180);
        color: white;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        text-indent: -37.5vw;
        line-height: 3vh;
        margin-right: 15vw;
    }
    
    .p-guests-transport-right-details {
        height: 3vh;
        width: 55vw;
        border-radius: 50vw;
        background-color: rgb(239,209,217);
        color: black;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 3vh;
        margin-left: 35vw;
        margin-top: -6vh;   
    }
    
    .content-container-gt {
        background: url('wedding-plan-background_full.jpg');
        overflow: hidden;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .p-contact-details-kinga-gt{
        width: 100vw;
        height: 4vh;
        background-color: rgb(214,160,180);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        margin-top: 8vh;
        padding-top: 3.5vh;
      }
      .p-contact-details-patryk-gt{
        width: 100vw;
        height: 4vh;
        background-color: rgb(214,160,180);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        padding-bottom: 2vh;
        margin-bottom: 0vh;
        margin-top: -2vh;
      }
    .a-tel{
        color: white;
    }
    }
    
  @media only screen and (min-width: 480px) {
    .p-guests-transport-left-headers {
      height: 5vh;
      width: 22vw;
      border-radius: 50vw;
      background-color: rgb(214,160,180);
      color: white;
      font-size: 2vh;
      font-weight: 400;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
      line-height: 5vh;
      margin-right: 43vw;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    
    .p-guests-transport-left-info {
      height: 5vh;
      width: 50vw;
      border-radius: 50vw;
      background-color: rgb(214,160,180);
      color: white;
      font-size: 2vh;
      font-weight: 400;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
      text-indent: -28vw;
      line-height: 5vh;
      margin-right: 15vw;
      margin-bottom: 25vh;
    }
    
    .p-guests-transport-right-details {
      height: 5vh;
      width: 45vw;
      border-radius: 50vw;
      background-color: rgb(239,209,217);
      color: black;
      font-size: 2vh;
      font-weight: 400;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
      line-height: 5vh;
      margin-left: 20vw;
      margin-top: -31vh;
      margin-bottom: 10vh;
    }
    
    .content-container-gt {
        background: url('wedding-plan-background_full.jpg');
        overflow: hidden;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .p-contact-details-kinga-gt{
        width: 100vw;
        height: 4vh;
        background-color: rgb(214,160,180);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        margin-top: 8vh;
        padding-top: 3.5vh;
      }
      .p-contact-details-patryk-gt{
        width: 100vw;
        height: 4vh;
        background-color: rgb(214,160,180);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        padding-bottom: 2vh;
        margin-bottom: 0vh;
        margin-top: -2vh;
      }
    .a-tel{
        color: white;
    }
    }
    