@media only screen and (max-width: 480px) {
    .content-container-t{
        background: url('additional-events-background.PNG');
        overflow: hidden;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .p-site-title-t{
        color: rgba(61, 61, 61, 1);
        margin-left: 0vw;
        margin-top: 15vh;
        font-size: 3vh;
        padding-bottom: 2vh;
    }
    .p-site-info{
        color: white;
        background-color: rgb(112,146,88);
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2vh;
        font-size: 2vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
        border-radius: 50vw;
    }
    .p-tables-left-headers {
        height: 3vh;
        width: 32vw;
        border-radius: 50vw;
        background-color: rgb(112,146,88);
        color: white;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 3vh;
        margin-right: 58vw;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    
    .p-tables-middle-info {
        height: 10vh;
        width: 75vw;
        border-radius: 50vw;
        background-color: rgb(112,146,88);
        color: white;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 10vh;
    }
    
    .p-tables-right-info {
        height: 3vh;
        width: 60vw;
        border-radius: 50vw;
        background-color: rgb(178,186,119);
        color: rgba(61, 61, 61, 1);
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 3vh;
        margin-left: 30vw;
        margin-top: -6vh;    
    }
    
    .p-tables-right-info2 {
        height: 3vh;
        width: 60vw;
        border-radius: 50vw;
        background-color: rgb(178,186,119);
        color: rgba(61, 61, 61, 1);
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 3vh;
        margin-left: 30vw;
        margin-top:0.5vh;
    
    }
    
      .p-contact-details-kinga-t{
        width: 100vw;
        height: 4vh;
        background-color: rgb(112,146,88);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        margin-top: 45vh;
        padding-top: 3.5vh;
      }
      .p-contact-details-patryk-t{
        width: 100vw;
        height: 4vh;
        background-color: rgb(112,146,88);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        padding-bottom: 2vh;
        margin-bottom: 0vh;
        margin-top: -2vh;
      }
    }
    
    @media only screen and (min-width: 480px) {
        .content-container-t{
            background: url('additional-events-background.PNG');
            overflow: hidden;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    .p-site-title-t{
        color: rgba(61, 61, 61, 1);
        margin-left: 0vw;
        margin-top: 20vh;
        font-size: 4vh;
        padding-bottom: 2vh;
    }
    .p-tables-left-headers {
        height: 5vh;
        width: 22vw;
        border-radius: 50vw;
        background-color: rgb(112,146,88);
        color: white;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 5vh;
        margin-right: 43vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    .p-tables-middle-info  {
        height: 5vh;
        width: 50vw;
        border-radius: 50vw;
        background-color: rgb(112,146,88);
        color: white;
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        text-indent: -28vw;
        line-height: 5vh;
        margin-right: 15vw;
        margin-bottom: 25vh;
    }
    
    .p-tables-right-info {
        height: 5vh;
        width: 45vw;
        border-radius: 50vw;
        background-color: rgb(178,186,119);
        color: rgba(61, 61, 61, 1);
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 5vh;
        margin-left: 20vw;
        margin-top: -31vh;
        margin-bottom: 10vh;    
    }
    
    .p-tables-right-info2 {
        height: 5vh;
        width: 45vw;
        border-radius: 50vw;
        background-color: rgb(178,186,119);
        color: rgba(61, 61, 61, 1);
        font-size: 2vh;
        font-weight: 400;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        line-height: 5vh;
        margin-left: 20vw;
        margin-top:-6vh;
        margin-bottom: 10vh;
    }
    

    
      .p-contact-details-kinga-t{
        width: 100vw;
        height: 4vh;
        background-color: rgb(112,146,88);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        margin-top: 25vh;
        padding-top: 3.5vh;
      }
      .p-contact-details-patryk-t{
        width: 100vw;
        height: 4vh;
        background-color: rgb(112,146,88);
        color:white;
        font-size: 2vh;
        text-align: left;
        text-indent: 15vw;
        padding-bottom: 2vh;
        margin-bottom: 0vh;
        margin-top: -2vh;
      }
    }